<!DOCTYPE html>
<html>
<head>
  <title>Preflight</title>
  <%= stylesheet_link_tag    "preflight/application", media: "all" %>
  <%= javascript_include_tag "preflight/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- flash.each do |key, value| %>
  <div class="flash-<%= key %>">
    <%= flash[key] %>
  </div>
<%- end -%>

<%= yield %>

</body>
</html>
