<h1>Add a new campaign</h1>

<%= simple_form_for [:admin, @campaign] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :started_at_date %>
  <%= f.input :ended_at_date %>

  <%= f.button :submit %>
<% end %>
