<div class="row">
  <div class="large-12 columns">
    <h1>Share with your friends</h1>

    <div id="share-input" class="row collapse">
      <div class="small-10 columns">
        <%= text_field_tag "share_url", referral_url(@subscription.invitation_token) %>
      </div>
      <div class="small-2 columns">
        <a href="#" class="button postfix" style="width: 100%">
          <i class="fa fa-clipboard"></i>
        </a>
      </div>
    </div>

    <%= Preflight::Facebook::ShareLink.new(
      content_tag(:i, '', class: 'fa fa-facebook-square') + ' Facebook',
      referral_url(@subscription.invitation_token),
      request.url,
      class: 'facebook-share-link').html %>
    <%= Preflight::Twitter::TweetLink.new(
      content_tag(:i, '', class: 'fa fa-twitter') + ' Twitter',
      referral_url(@subscription.invitation_token),
      class: 'twitter-share-link'
    ).html %>

    <%= Preflight::LinkedIn::ShareLink.new(
      content_tag(:i, '', class: 'fa fa-linkedin-square') + ' LinkedIn',
      referral_url(@subscription.invitation_token),
      @campaign.title,
      @campaign.description,
      class: 'linkedin-share-link'
    ).html %>
  </div>
</div>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function(){
      new Preflight.Views.Facebook.Initializer();

      new Preflight.Views.Facebook.ShareLink('.facebook-share-link');

      new Preflight.Views.Twitter.Initializer();
      new Preflight.Views.Twitter.TweetLink('.twitter-share-link');

      new Preflight.Views.LinkedIn.Initializer();
      new Preflight.Views.LinkedIn.ShareLink('.linkedin-share-link')

      new Preflight.Views.CampaignSubscriptions.ShareInput('#share-input');
    });
  </script>
<%- end %>
