<div class="row">
  <div class="large-12 columns">
    <h1>Share with your friends</h1>

    <%= text_field_tag "share_url", referral_url(@subscription.invitation_token) %>
    <%= Preflight::Facebook::ShareLink.new(
      content_tag(:i, '', class: 'fa fa-facebook-square') + ' Facebook',
      referral_url(@subscription.invitation_token),
      request.url,
      class: 'facebook-share-link').html %>
    <%= Preflight::Twitter::TweetLink.new(
      content_tag(:i, '', class: 'fa fa-twitter') + ' Twitter',
      referral_url(@subscription.invitation_token),
      class: 'twitter-share-link'
    ).html %>

  </div>
</div>

<%= content_for :extra_footer do %>
  <%- if fb_app_id = Preflight.configuration.facebook_app_id -%>
    <script type="text/javascript">
      $(function(){
        new Preflight.Views.Facebook.
          Initializer('<%= fb_app_id %>');

        new Preflight.Views.Facebook.ShareLink('.facebook-share-link');

        new Preflight.Views.Twitter.Initializer();
        new Preflight.Views.Twitter.TweetLink('.twitter-share-link');
      });
    </script>
  <%- end -%>
<%- end %>
